<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Bookings.co.in</title>
</head>
<body>
  <div class="navbar">
    <div class="text1">
      |Bookings.co.in
    </div>
    <div id="nav">
      <div class="text2">
        |Home
      </div>
      <div class="text2">
        |About us
      </div>
      <div class="text2">
        |services
      </div>
    </div>
  </div>
  <div class="content">
    <div class="wrapper">
      <div class="text3">
        |Want to go to your favorite destination kindly login for online Bookings.
        <div class="button1">
          <a href="/login" target="_blank">login</a>
        </div>
      </div>
      <div class="pic1">
        <img src="/static/aeroplane.jpg" alt="aeroplane.jpg" id="pic1">
      </div>
    </div>
  </div>
  <div class="detail">
      |This is a SQL project website kindly go fo online booking to explore the project.
  </div>

</body>

</html>