<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/login.css">
	<title>login-page</title>
</head>
<body>
	<h1>Login Page</h1>
	<form action="/login" method="post">
		<label for="Email">Email:</label>
		<input type="email" id="username" name="email" required><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" required><br><br>
		<input type="submit" value="Login">
	</form>
	<p>dont have account <a href="/signup">signup</a></p>
</body>
</html>