<!DOCTYPE html>
<html lang="en">

<head>
        <link rel="stylesheet" href="/static/ticket.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>

<body>
    <div class="navbar">
        <div class="text1">
            |Bookings.co.in
        </div>
        <div id="nav">
            <div class="text2">
                <a href="index.html">Home</a>
            </div>
            <div class="text2">
                |About us
            </div>
            <div class="text2">
                <a href="#">login/signup></a>
            </div>
        </div>
    </div>
    <div class="box">
        <form action="/ticket" method="post" id="form">
            <input type="text" placeholder="enter your name" id="name" name="name">
            <input type="text" placeholder="Destination" id="name" name="destination">
            <input type="text" placeholder="arrival" id="name" name="arrival">
            <input type="email" placeholder="enter your email" id="name" name="email">
            <input type="text" placeholder="enter your ID" id="name" name="id">
            <input type="tel" placeholder="enter your mobile no" id="name" name="phone">
            <input type="date" placeholder="selcet  date" id="name" name="date">
            <!-- <input type="time" placeholder="enter time" id="name" name="time"> -->
            <div>
                <button id="btn">Submit</button>
            </div>
        </form>
    </div>

</body>


</html>